html
{
	width: 960px;
	height: max;
	margin: auto;
	background: #404040;
}

header
{
	text-align: center;

}

aside
{
	width: 200px;
	height: 500px;
	background: #494949;
	text-align: center;
	float: left;
}
p.link
{
	color: #e1c00b;
	font-family: gabriola, sans-serif;
	font-size: 20px;
}

p.link:hover
{
	cursor: pointer;
	background: #606060;
	font-style: bold ;
}

.content 
{
	padding: 35px;
	height: 380px;
	background: #606060;
	margin-top:50px;
	margin-left: 200px;
	color: #000000;
	font-family: arial, sans-serif;
	font-size: 14px;
}

footer
{
	margin-top: -16px;
	padding-left: 15px;
	padding-right: 15px;
	background: #494949;
	color: #808080;
	font-family: arial, sans-serif;
	font-size: 12px;
	font-style: italic;
}

.myName
{
	color: #e1c00b;
}

.lastMod
{
	
	text-align: right;
}

